body {
    background-color: rgb(7, 132, 136)
}

canvas {
    border: 2px solid black;
}

#pageBorder {
    border: double white 1px;
}
#product-container {
    border: dotted green 20px;
}
img {
    border-color: slateblue;
    border: solid 3px;
    width: 450px;
    height: auto;
}